<form method="post">
    <input name="Title" type="text" placeholder="Title"/>
    <input name="Text" type="text" placeholder="Text"/>
    <input name="Image" type="text" placeholder="Image"/>
    <input type="submit"/>
</form>